<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Worldwide Suicides by Gender</title>
  </head>
  <body>
    <h1>Worldwide Suicides</h1>
    <h3>Modeling the relationship between the Human Development Index and Suicides</h3>
    {% block content %}
    <h2>Introduction</h2>
    <p>Gender is the number one predictor for suicides around the world, with
      men being more than twice as likely to kill themselves as women. In 2016,
      16 men per 100,000 people, and 7 women per 100,000 killed themselves. This
      model uses data from 1985 through 2015 found on
      <a href="https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016">Kaggle</a>.
       The model uses
      country demographic information to attempt to predict the number of
      suicides for men and women. This data does not take queering of gender
      into account, which has a high impact on suicide rates worldwide. Global
      trends are difficult to track, some countries have a distinctly positive
      trend, others have a negative trend, and still others have no trends
      visible at all. It was originally assumed that the Human Development
      Index would be a good metric to predict suicide rates.</p>
    {% endblock %}
  </body>
</html>
